@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Project Zeus</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="god-table">
    <table>
        <thead>
        <tr>
            <th>God</th>
            <th>Mythology</th>
        </tr>
        </thead>
        @foreach (var god in @Model.Gods)
        {
            <tr>
                <td>@god.Name</td>
                <td>@god.Mythology.Name</td>
            </tr>
        }
    </table>
</div>